.container {
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* control image transparency */
  z-index: 0;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
